* {
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
  text-align: center;
}

.h1Hidden, .pHidden {
  display: none;
}

.container {
  position: absolute;
  top: 100px;
  height: 500px;
  width: 400px;
  background-color: lightgray;
}

.id1Visible {
  position: absolute;
  background-color: black;
  width: 300px;
  height: 10px;
  top: 490px;
  left: 50px;
}

.id1Hidden {
  width: 0;
  height: 0;
}

.id2Visible {
  position: absolute;
  background-color: black;
  width: 10px;
  height: 460px;
  top: 30px;
  left: 100px;
}

.id2Hidden {
  width: 0;
  height: 0;
}

.id3Visible {
  position: absolute;
  background-color: black;
  width: 200px;
  height: 10px;
  top: 30px;
  left: 100px;
}

.id3Hidden {
  width: 0;
  height: 0;
}

.id4Visible {
  position: absolute;
  background-color: black;
  width: 10px;
  height: 70px;
  top: 30px;
  left: 200px;
}

.id4Hidden {
  width: 0;
  height: 0;
}

.id5Visible {
  position: absolute;
  top: 90px;
  left: 175px;
  height: 50px;
  width: 50px;
  background-color: lightgray;
  border: solid black 6px;
  border-radius: 50%;
  display: inline-block;
}

.id5Hidden {
  width: 0;
  height: 0;
}

.id6Visible {
  position: absolute;
  top: 140px;
  left: 195px;
  height: 150px;
  width: 10px;
  background-color: black;
}

.id6Hidden {
  width: 0;
  height: 0;
}

.id7Visible {
  width: 50px;
  height: 200px;
  border-bottom: 10px solid black;
  transform: translateY(-20px) translateX(5px) rotate(127deg);
  position: absolute;
  left: 230px;
  top: 165px;
}

.id7Hidden {
  width: 0;
  height: 0;
}

.id8Visible {
  width: 50px;
  height: 200px;
  border-bottom: 10px solid black;
  transform: translateY(-20px) translateX(5px) rotate(-127deg);
  position: absolute;
  left: 112px;
  top: 165px;
}

.id8Hidden {
  width: 0;
  height: 0;
}

.id9Visible {
  width: 50px;
  height: 190px;
  border-bottom: 10px solid black;
  transform: translateY(-20px) translateX(5px) rotate(127deg);
  position: absolute;
  left: 230px;
  top: 290px;
}

.id9Hidden {
  width: 0;
  height: 0;
}

.id10Visible {
  width: 50px;
  height: 190px;
  border-bottom: 10px solid black;
  transform: translateY(-20px) translateX(5px) rotate(-127deg);
  position: absolute;
  left: 110px;
  top: 290px;
}

.id10Hidden {
  width: 0;
  height: 0;
} 
